@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #000;
  color: #00FF41;
}
